/*Fonts*/
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cyberwave2000';
  src: url('font/Cyberwave2000-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-image: url(images/fondo-index.webp);
    background-size: 72px 72px;
    background-repeat: repeat;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items:  center;
    margin: 60px;
}

.container{
    display: grid;
    grid-template-columns: 200px 500px;
    grid-template-rows: 100px 500px;
    gap: 3px;
    grid-template-areas: 
        "heading heading"
        "navigationContainer mainContent";
}

.heading {
    grid-area: heading;
    border: 2px solid red;
}

/*Nav*/
.navigationContainer {
    grid-area: navigationContainer;
}
.nav{
    margin: 10px;
}
.navCategories{
    border: 1px solid #1F611B;
    background-color: #3DD969;
    flex-direction: column;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;

    box-shadow: 0 2px 8px #000000;
}

.navCategories hr{
    border: none;
    width: 100%;
    border-radius: 5px;
    margin: 0;
}


.navSeparador{
    height: 60px;
    width: 178px;

    background-image: linear-gradient(to bottom, #AFECC1,#3DD969,#49EB74);
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
}
.nav-item {
    display: flex;
    align-items: center;
    padding: 1.85px;
    font-family: Poppins, sans-serif;
    font-size: 10px;
}

.nav-icons{
    width: 18.8px;
    margin: 0 5px 0 3px;
}
.navLinks{
    color: #e5e5f5;
    text-shadow: #2a2969 2px 2px 4px;
    text-decoration: none;
}

/*PARTE DEL NAV PERO LOS STAMPS*/
.stampsBox{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.stamp{
    display:flex;
    width: 80px;
    height: 40px;
    align-items: center;
    flex-direction:row;
}

/*BLINKIES*/
.blinkiesBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.blinkie{
    width: 80px;
    height: 15px;
}

/*BOTONES DE NAV DE ABAJO*/
.navButtons{
    border: 1px solid #1F611B;
    background-color: #3DD969;
    flex-direction: column;
    
    border-radius: 5px;

    box-shadow: 0 2px 8px #000000;
    font-family: Poppins, sans-serif;
}
.navSeparador2{
    background-image: linear-gradient(to bottom, #AFECC1,#3DD969,#49EB74);
    padding: 4px;
    text-align: center;
}
.navSeparador2 span{
    font-size: 13px;
    text-shadow: #37373761 0px 0px 3px;
    color: white;
    font-family:'Cyberwave2000', sans-serif;
}
.navButtons hr{
    border: none;
    width: 100%;
    border-radius: 5px;
    margin: 0;
}
.nav-button {
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: 10px;
}

.nav-button:hover, .nav-item:hover{
    background-color: #48d26d;
}
/*Contenido de al medio*/
.mainContent {
    grid-area: mainContent;
    border: 2px solid green;
}

/*Perfil*/
.rightSideContent{
    display: grid;
    margin-left: 10px;
    width: 300px;
    height: 300px;
    justify-items: center;
    position: relative;
    gap: 30px;
}

.rightSideContent img{
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}
.rightSideContent h1{
    font-size: 20px;
    color: #18f100;
    text-shadow: 0 0 5px #000, 0 0 10px #000;
}

